<form action="/figures" method="post">
  <h1><label>Name <input type="text" name="figure[name]" id="figure_name"></label></h1>
  <br></br>
  <h4> Titles </h4>
  <% Title.all.each do |title| %>

  <label><%=title.name %></label>
  <input type="checkbox" value="title_<%=title.id%>" name="figure[title_ids][]" id="<%=title.id%>"></input>

  <%end %>
  <h2><label>Create New Title:</h2>

    <input type="text" name="title[name]" id="new_title"></label>
    <br></br>
  <h2>Landmarks </h2>
  <% Landmark.all.each do |landmark| %>
  <br><input type="checkbox" name="figure[landmark_ids][]" id="<%=landmark.name%>" value="landmark_<%=landmark.id%>"><%=landmark.name%></br></input>
  <%end %>
  <h2>Create New Landmark: </h2>
  <label>Name: <input type="text" name="landmark[name]" id="new_landmark"></label>
  <label>Year: <input type="text" name="landmark[year_completed]" id="landmark_year"></label>
  <input type="submit" value="Create New Figure"/>
</form>
